@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Bind TailwindCSS colors with CSS variables */
  --background: theme('colors.locavore.postItGreen');
  --foreground: theme('colors.locavore.black');
}

body {
  @apply font-arialRounded; 
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
